<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="stylesheet" href="./styles/bootstrap.min.css">-->
    <link rel="stylesheet" href="./styles/bootstrap-paper.min.css">
    <link rel="stylesheet" href="./styles/app.css">
    <title>Cleaner Calculator</title>
  </head>
  <body>

    <div id="app" class="container calc">

      <!-- MAIN ROW -->
      <div class="row">
        
        <!-- CENTERING BLOCK -->
        <div class="col-md-10 col-md-offset-1">

          <!-- SECTION MAIN -->
          <section class="main">
            <h3 class="page-header text-center">Расчет стоимости</h3>
            
            <!--FIRST-->
            <div class="row calc__row">
              <div class="col-md-6 text-center">
                <div class="text-center well" style="display: flex">
                  <button class="btn btn-default" @click="decreaseRoom()" :disabled="roomStateDecrease">-</button>
                  <input class="form-control text-center" type="text" v-model="room.value">
                  <button class="btn btn-default" @click="increaseRoom()" :disabled="roomStateIncrease">+</button>
                </div>
              </div>
              <div class="col-md-6 text-center">
                <div class="text-center well" style="display: flex">
                  <button class="btn btn-default" @click="decreaseBathroom()" :disabled="bathroomStateDecrease">-</button>
                  <input class="form-control text-center" type="text" v-model="bathroom.value">
                  <button class="btn btn-default" @click="increaseBathroom()" :disabled="bathroomStateIncrease">+</button>
                </div>
              </div>
            </div>
            
            <!--SECOND-->
            <div class="row calc__row">
              <h4 class="page-header text-center text-capitalize">разовая уборка</h4>
              <!-- после ремонта -->
              <div class="col-md-4">
                <div class="text-center well calc__envelop">
                  <label id="primo" class="calc__label" for="remont">
                    <input id="remont" name="type" type="radio" value="remont" v-model="checked">
                    после ремонта
                  </label>
                </div>
              </div>
              <!-- генеральная -->
              <div class="col-md-4">
                <div class="text-center well calc__envelop">
                  <label id="secondo" class="calc__label" for="general">
                    <input id="general" name="type" type="radio" value="general" v-model="checked">
                    генеральная
                  </label>
                </div>
              </div>
              <!-- экспресс -->
              <div class="col-md-4">
                <div class="text-center well calc__envelop">
                  <label id="tetro" class="calc__label" for="express">
                    <input id="express" name="type" type="radio" value="express" v-model="checked">
                    экспресс
                  </label>
                </div>
              </div>
            </div>
            
            <!-- РАЗОВАЯ УБОРКА -->
            <div class="col-md-12 text-center calc__envelop" style="margin-bottom: 20px">
              <label id="quattro" class="calc__label" for="single">
                <input id="single" name="type" type="radio" value="single" v-model="checked">
                разовая уборка
              </label>
            </div>
          
            <!-- DISCOUNT SECTION -->
            <div v-if="checked === 'single' || checked === 'general'" class="row">
              <h4 class="page-header text-center text-capitalize">периодичная уборка</h4>
              <!-- 1 РАЗ В МЕСЯЦ -->
              <div class="col-md-4">
                <div class="text-center well" style="cursor: pointer" @click="onDiscountFirst()" :class="{ 'bg-highlight': discount.first.state }">
                  <h5 class="highlight" style="font-weight: 700; margin-bottom: 5px">1 раз в месяц</h5>
                  <p style="font-size: 20px; margin-bottom: 0;">со скидкой <strong>{{ discount.first.value | addPercent }}</strong></p>
                </div>
              </div>
              <!-- 1 РАЗ В 2 НЕДЕЛИ -->
              <div class="col-md-4">
                <div class="text-center well" style="cursor: pointer" @click="onDiscountSecond()" :class="{ 'bg-highlight': discount.second.state }">
                  <h5 class="highlight" style="font-weight: 700; margin-bottom: 5px">1 раз в 2 недели</h5>
                  <p style="font-size: 20px; margin-bottom: 0">со скидкой <strong>{{ discount.second.value | addPercent }}</strong></p>
                </div>
              </div>
              <!-- 1 РАЗ В НЕДЕЛЮ -->
              <div class="col-md-4">
                <div class="text-center well" style="cursor: pointer" @click="onDiscountThird()" :class="{ 'bg-highlight': discount.third.state }">
                  <h5 class="highlight" style="font-weight: 700; margin-bottom: 5px">1 раз в неделю</h5>
                  <p style="font-size: 20px; margin-bottom: 0">со скидкой <strong>{{ discount.third.value | addPercent }}</strong></p>
                </div>
              </div>
            </div><!-- END DISCOUNT SECTION -->
            <div class="row">
              <div class="col-md-12">
                <ul>
                  <li>{{ showDiscountFirst }}</li>
                  <li>{{ showDiscountSecond }}</li>
                  <li>{{ showDiscountThird }}</li>
                  <li class="text-capitalize"><strong>{{ showCommon }}</strong></li>
                </ul>
              </div>
              <div class="col-md-12">
                <div v-if="showCommon" class="well">
                  <p>container</p>
                </div>
              </div>
            </div>

          </section><!-- section main end -->

          <!-- SECTION ADDITIONAL -->
          <section class="additional">
            
            <h3 class="page-header text-center">Дополнительно</h3>
            
            <div id="addition" v-if="checked !== 'remont'">
              <!--title-->
              <div class="row">
                <div class="col-md-12">
                  <div class="text-center well" style="background-color: #f6d9dd; color: #950d2a;">Только до <strong>31 июля</strong> помоем <strong>пять</strong> окон за <strong>1 000 рублей</strong></div>
                </div>
              </div>
              <!-- WINDOW -->
              <div class="row">
                <div class="col-md-12">
                  <div class="text-center well" style="display: flex; color: #950d2a;">
                    <button class="btn btn-default" @click="decreaseWindow()" :disabled="windowStateDecrease">-</button>
                    <input class="form-control text-center" type="text" v-model="window.value">
                    <button class="btn btn-default" @click="increaseWindow()" :disabled="windowStateIncrease">+</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- ADDITIONALS -->
            
            <!-- REMONT BLOCK -->
            <section v-if="checked === 'remont'">
              <div class="row" style="display: flex; justify-content: center;">
                <!--windows-->
                <div class="col-md-3">
                  <div class="text-center well">
                    <h5>Окна</h5>
                    <div class="well" style="display: flex">
                      <button type="button" class="btn btn-default" @click="decreaseWindows()" :disabled="windowsStateDecrease">-</button>
                      <input class="form-control text-center" type="text" v-model="additional.windows.value">
                      <button type="button" class="btn btn-default" @click="increaseWindows()" :disabled="windowsStateIncrease">+</button>
                    </div>
                  </div>
                </div>
                <!--garderob-->
                <div class="col-md-3">
                  <div class="text-center well">
                    <h5>Гардеробная</h5>
                    <div class="well" style="display: flex">
                      <button type="button" class="btn btn-default" @click="decreaseGarderob()" :disabled="garderobStateDecrease">-</button>
                      <input class="form-control text-center" type="text" v-model="additional.garderob.value">
                      <button type="button" class="btn btn-default" @click="increaseGarderob()" :disabled="garderobStateIncrease">+</button>
                    </div>
                  </div>
                </div>
                <!--addtime-->
                <div class="col-md-3">
                  <div class="text-center well">
                    <h5>Доп. время</h5>
                    <div class="well" style="display: flex">
                      <button type="button" class="btn btn-default" @click="decreaseAddtime()" :disabled="addtimeStateDecrease">-</button>
                      <input class="form-control text-center" type="text" v-model="additional.addtime.value">
                      <button type="button" class="btn btn-default" @click="increaseAddtime()" :disabled="addtimeStateIncrease">+</button>
                    </div>
                  </div>
                </div>
              </div>
            </section><!-- end remont block -->

            <!--GENERAL BLOCK-->
            <section v-if="checked === 'general'">
              <div class="row" style="display: flex; justify-content: center;">
                <!--glajka-->
                <div class="col-md-3">
                  <div class="text-center well">
                    <h5>Глажка</h5>
                    <div class="well" style="display: flex">
                      <button type="button" class="btn btn-default" @click="decreaseGlajka()" :disabled="glajkaStateDecrease">-</button>
                      <input class="form-control text-center" type="text" v-model="additional.glajka.value">
                      <button type="button" class="btn btn-default" @click="increaseGlajka()" :disabled="glajkaStateIncrease">+</button>
                    </div>
                  </div>
                </div>
                <!--windows-->
                <div class="col-md-3">
                  <div class="text-center well">
                    <h5>Окна</h5>
                    <div class="well" style="display: flex">
                      <button type="button" class="btn btn-default" @click="decreaseWindows()" :disabled="windowsStateDecrease">-</button>
                      <input class="form-control text-center" type="text" v-model="additional.windows.value">
                      <button type="button" class="btn btn-default" @click="increaseWindows()" :disabled="windowsStateIncrease">+</button>
                    </div>
                  </div>
                </div>
                <!--garderob-->
                <div class="col-md-3">
                  <div class="text-center well">
                    <h5>Гардеробная</h5>
                    <div class="well" style="display: flex">
                      <button type="button" class="btn btn-default" @click="decreaseGarderob()" :disabled="garderobStateDecrease">-</button>
                      <input class="form-control text-center" type="text" v-model="additional.garderob.value">
                      <button type="button" class="btn btn-default" @click="increaseGarderob()" :disabled="garderobStateIncrease">+</button>
                    </div>
                  </div>
                </div>
              </div>
            </section><!-- end general block -->
            
            <!--COMMON-->
            <section v-if="checked === 'single' || checked === 'express'">
              <div class="row" style="display: flex; justify-content: center">
                <div class="col-md-3">
                  <div class="text-center well">
                    <h5>Холодильник</h5>
                    <div class="well" style="display: flex">
                      <button type="button" class="btn btn-default" @click="decreaseFridger()" :disabled="fridgerStateDecrease">-</button>
                      <input class="form-control text-center" type="text" v-model="additional.fridger.value">
                      <button type="button" class="btn btn-default" @click="increaseFridger()" :disabled="fridgerStateIncrease">+</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="text-center well">
                    <h5>Духовка</h5>
                    <div class="well" style="display: flex">
                      <button type="button" class="btn btn-default" @click="decreaseDuhovka()" :disabled="duhovkaStateDecrease">-</button>
                      <input class="form-control text-center" type="text" v-model="additional.duhovka.value">
                      <button type="button" class="btn btn-default" @click="increaseDuhovka()" :disabled="duhovkaStateIncrease">+</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="text-center well">
                    <h5>Микроволновка</h5>
                    <div class="well" style="display: flex">
                      <button type="button" class="btn btn-default" @click="decreaseMicrowaver()" :disabled="microwaverStateDecrease">-</button>
                      <input class="form-control text-center" type="text" v-model="additional.microwaver.value">
                      <button type="button" class="btn btn-default" @click="increaseMicrowaver()" :disabled="microwaverStateIncrease">+</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="text-center well">
                    <h5>Кухонные шкафы</h5>
                    <div class="well" style="display: flex">
                      <button type="button" class="btn btn-default" @click="decreaseShkaf()" :disabled="shkafStateDecrease">-</button>
                      <input class="form-control text-center" type="text" v-model="additional.shkaf.value">
                      <button type="button" class="btn btn-default" @click="increaseShkaf()" :disabled="shkafStateIncrease">+</button>
                    </div>
                  </div>
                </div>
              </div><!-- row end -->

              <div class="row" style="display: flex; justify-content: center;">
                <div class="col-md-3">
                  <div class="text-center well">
                    <h5>Посуда</h5>
                    <div class="well" style="display: flex">
                      <button type="button" class="btn btn-default" @click="decreaseDishes()" :disabled="dishesStateDecrease">-</button>
                      <input class="form-control text-center" type="text" v-model="additional.dishes.value">
                      <button type="button" class="btn btn-default" @click="increaseDishes()" :disabled="dishesStateIncrease">+</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="text-center well">
                    <h5>Глажка</h5>
                    <div class="well" style="display: flex">
                      <button type="button" class="btn btn-default" @click="decreaseGlajka()" :disabled="glajkaStateDecrease">-</button>
                      <input class="form-control text-center" type="text" v-model="additional.glajka.value">
                      <button type="button" class="btn btn-default" @click="increaseGlajka()" :disabled="glajkaStateIncrease">+</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="text-center well">
                    <h5>Окна</h5>
                    <div class="well" style="display: flex">
                      <button type="button" class="btn btn-default" @click="decreaseWindows()" :disabled="windowsStateDecrease">-</button>
                      <input class="form-control text-center" type="text" v-model="additional.windows.value">
                      <button type="button" class="btn btn-default" @click="increaseWindows()" :disabled="windowsStateIncrease">+</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="text-center well">
                    <h5>Балкон</h5>
                    <div class="well" style="display: flex">
                      <button type="button" class="btn btn-default" @click="decreaseBalcon()" :disabled="balconStateDecrease">-</button>
                      <input class="form-control text-center" type="text" v-model="additional.balcon.value">
                      <button type="button" class="btn btn-default" @click="increaseBalcon()" :disabled="balconStateIncrease">+</button>
                    </div>
                  </div>
                </div>
              </div><!-- row end -->

              <div class="row" style="display: flex; justify-content: center">
                <div class="col-md-3">
                  <div class="text-center well">
                    <h5>Гардеробная</h5>
                    <div class="well" style="display: flex">
                      <button type="button" class="btn btn-default" @click="decreaseGarderob()" :disabled="garderobStateDecrease">-</button>
                      <input class="form-control text-center" type="text" v-model="additional.garderob.value">
                      <button type="button" class="btn btn-default" @click="increaseGarderob()" :disabled="garderobStateIncrease">+</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="text-center well">
                    <h5>Доп. время</h5>
                    <div class="well" style="display: flex">
                      <button type="button" class="btn btn-default" @click="decreaseAddtime()" :disabled="addtimeStateDecrease">-</button>
                      <input class="form-control text-center" type="text" v-model="additional.addtime.value">
                      <button type="button" class="btn btn-default" @click="increaseAddtime()" :disabled="addtimeStateIncrease">+</button>
                    </div>
                  </div>
                </div>
              </div><!-- row end -->

            </section><!-- additionals end -->

            <!-- RESPONSE SECTION -->
            <section class="text-center">
              
              <!-- REMONT SECTION -->
              <article id="text-remont" v-if="checked === 'remont'">
                <p>К вам приедут <span class="highlight">2 специалиста</span> со всеми необходимыми средствами и приборами.</p>
                <p>Уборкa после ремонта, 1 комната, 1 ванная. Уборка займет <span class="highlight">4 часа 15 минут.</span></p>
              </article>

              <!-- GENERAL SECTION -->
              <article id="text-general" v-if="checked === 'general'">
                <p>К вам приедут <span class="highlight">2 специалиста</span> со всеми необходимыми средствами и приборами.</p>
                <p>Генеральная уборка, {{ room.value }} комната, {{ bathroom.value }} ванная. Уборка займет <span class="highlight">4 часа 15 минут.</span></p>
              </article>

              <!-- EXPRESS SECTION -->
              <article id="text-express" v-if="checked === 'express'">
                <p>К вам приедет <span class="highlight">1 специалист</span> со всеми необходимыми средствами и приборами.</p>
              </article>

              <p>Приедем в удобное для вас время. <a class="highlight" href="#">Что входит в уборку</a></p>

              <!--<p>К вам приедет <em>1 специалист</em> со всеми необходимыми средствами и приборами.</p>-->
              <!--<p>1 комната, 1 ванная. Уборка займет <em>3 часа</em>. Приедем в удобное для вас время. <a href="#">Что входит в уборку</a></p>-->
            </section>

            <section class="text-center">
              
              <!-- SECTION PROMOCODE -->
              <div v-if="checked !== 'express'" id="promo" style="display: flex; width: 60%; margin-left: 20%; margin-top: 40px">
                <input id="promocode" class="form-control" type="text" placeholder="у меня есть промокод">
                <button class="btn btn-default" type="button" @click="onPromo()" :disabled="promo.disabled">Применить</button>
                <p v-if="promo.error" class="error" style="color: red; margin-top: 0; margin-bottom: 0;">Вы ввели неправильный промокод</p>
              </div><!-- end section promocode -->
              
              <div class="row" style="margin-bottom: 40px; margin-top: 40px;">
                <div class="col-md-6 col-md-offset-3 clearfix" style="font-weight: 700; font-size: 36px; color: #03aebc">
                  <p class="pull-left">К оплате:</p>
                  <p class="pull-right">{{ result | locate }}</p>
                </div>
              </div>
              <div>
                <button class="btn btn-primary">Заказать уборку</button>
              </div>
            </section>

          </section><!-- section additional end -->

        </div><!-- centering block end -->
      
      </div><!-- main row end -->
    
    </div><!-- container -->

    <!-- SCRIPTS -->
    <script src="./scripts/vue.js"></script>
    <!--<script src="./scripts/bootstrap.min.js"></script>-->
    <script src="./scripts/app.js"></script>
  </body>
</html>