.calc__row {
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.wrapper__item {
  flex-basis: 135px;
  height: 165px;
}

.promo {
  margin: 40px 0;
}

.calc__envelop {
  padding: 0;
  background-color: transparent;
}

.calc__label {
  padding: 20px 19px;
  cursor: pointer;
  background-color: #f5f5f5;
  width: 100%;
}

.calc__label:hover {
  background-color: rgba(3,174,188,.3);
}

#single {
  cursor: pointer;
}

.highlight {
  color: #03aebc;
}

.bg-highlight {
  background-color: rgba(3,174,188,.1);
}
