<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <title>Window Calculator</title>
  </head>
  <body>
    <div id="app" class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="page-header">Одинарное окно</h2>
          
          <!-- INPUT WINDOW DIMENTIONS -->
          <section>
            <h3 class="page-header">Размеры окна:</h3>
            <div class="form-group">
              <label for="height">Window Height
              <input class="form-control" id="height" type="text" placeholder="height window" v-model.trim="window.height">
            </div>
            <div class="form-group">
              <label for="width">Window Width
              <input class="form-control" id="width" type="text" placeholder="width window" v-model.trim="window.width">
            </div>
          </section>

          <!-- TYPE WINDOW -->
          <section>
            <h3 class="page-header">Тип окна:</h3>
            <div class="row">
              <div class="col-md-6">
                <h4 class="page-header">Выберите тип окна:</h4>
                  <div class="radio">
                    <label for="primo"><input id="primo" name="type" type="radio" value="primo" v-model="window.type">Глухое окно</label>
                    <label for="secondo"><input id="secondo" name="type" type="radio" value="secondo" v-model="window.type">Поворотное окно</label>
                    <label for="tetro"><input id="tetro" name="type" type="radio" value="tetro" v-model="window.type">Поворотно-откидное окно</label>
                  </div>
              </div>
              <div class="col-md-6">
                <h4 class="page-header">Предпросмотр:</h4>
              </div>
            </div>
          </section>

          <!-- PROFILE -->
          <section class="form-group">
            <h3 class="page-header">Профиль:</h3>
            <select class="form-control" v-model="window.profilePrice">
              <option v-for="(profile, index) in profiles" :key="index" :value="profile.price"> {{ profile.title }}
            </select>
          </section>

          <!-- PACKET -->
          <section class="form-group">
            <h3 class="page-header">Стеклопакет</h3>
            <select class="form-control" v-model="window.packetPrice">
              <option v-for="(packet, index) in packets" :key="index" :value="packet.price"> {{ packet.title }}
            </select>
          </section>

          <div class="form-group">
            <button class="btn btn-default" type="button" @click="onCalc()">Calculate</button>
          </div>
        
        </div><!-- col-md -->

        <div class="col-md-6">

          <!--OUTPUT SECTION-->
          <div class="form-group" id="output">
            <h2 class="page-header">Результаты:</h2>
            <ul class="list-group">
              <li class="list-group-item">Рама: {{ output.profile }} м</li>
              <li class="list-group-item">Стеклопакет: {{ output.area }} кв. м</li>
              <li class="list-group-item">Стоимость изделия: {{ output.windowCost }} руб</li>
              <li class="list-group-item">Стоимость монтажных работ: {{ output.workCost }} руб</li>
              <li class="list-group-item">Общая стоимость: {{ output.totalCost }} руб</li>
            </ul>
          </div>

        </div><!-- col-md -->
        
      </div><!-- row -->
      
    </div><!-- container -->

    <!-- SCRIPTS -->
    <script src="./scripts/vue.js"></script>
    <script src="./scripts/third.js"></script>
  </body>
</html>