<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Window Calculator</title>
  </head>
  <body>
    
    <div id="app" class="container window">
      <div class="row">
        <h2 class="page-header">Одинарное окно</h2>
        
        <!-- INPUT WINDOW DIMENTIONS -->
        <section class="well">
          <h3 class="page-header">Размеры окна:</h3>
          <div class="form-group">
            <label class="window__label"> Window Height: <span>{{ window.dimentions.height }}мм</span>
            <input class="window__input" :min="window.sizes.minH" :max="window.sizes.maxH" :step="window.sizes.stepH" type="range" v-model.trim="window.dimentions.height">
          </div>
          <div class="form-group">
            <label class="window__label"> Window Width: <span>{{ window.dimentions.width }}мм</span>
            <input class="window__input" :min="window.sizes.minW" :max="window.sizes.maxW" :step="window.sizes.stepW" type="range" v-model.trim="window.dimentions.width">
          </div>
        </section>

        <!-- TYPE WINDOW -->
        <section class="well">
          <h3 class="page-header">Тип окна:</h3>
          <div class="row">
            <div class="col-md-6">
              <h4 class="page-header">Выберите тип окна:</h4>
              <div class="radio" v-for="(type, index) in window.types">
                <label :for="type.title">
                  <input :id="type.title" name="type" type="radio" :value="type.title" v-model="state.window"> {{ type.name }}
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <h4 class="page-header">Предпросмотр типа окна:</h4>
              <figure class="picture">
                <img class="picture__inner" :src="imagePath" alt="Window">
              </figure>
            </div>
          </div>
        </section>

        <!-- PROFILES -->
        <section class="form-group well">
          <h3 class="page-header">Профиль:</h3>
          <div class="radio">
            <label class="item list-group-item text-capitalize" v-for="(profile, index) in profiles" :key="index">
              <input type="radio" :value="profile.title" name="check-profile" v-model="state.profile">
              <header class="item__wrapper" @click="profile.show = !profile.show">
                <h4 class="item__title text-capitalize">{{ profile.title }}</h4>
                <h3 class="item__label">{{ profile.details.type }}</h3>
              </header>
              <transition>
                <footer class="item__content bg-info" v-if="profile.show">
                  <h4 class="item__subtitle">{{ profile.details.type }}</h4>
                  <div class="row">
                    <div class="col-xs-6">
                      <ul>
                        <li>Стеклопакет: {{ profile.details.packet }}</li>
                        <li>Формула: {{ profile.details.formula }}</li>
                        <li>Фурнитура: {{ profile.details.furnitura }}</li>
                        <li>Базовый цвет: {{ profile.details.color }}</li>
                        <li>Уплотнитель: {{ profile.details.sealer }}</li>
                      </ul>
                    </div>
                    <div class="col-xs-6">
                      <figure>
                        <img class="img-responsive img-thumbnail" :src="profile.preview" :alt="profile.title">
                      </figure>
                    </div>
                  </div>
                </footer>
              </transition>
            </label>
          </div>
        </section>

        <!-- ADDITIONS -->
        <section class="well">
          <h3 class="page-header">Дополнительно:</h3>
          <div class="checkbox">
            <label class="checkbox-inline" for="uno">
              <input id="uno" type="checkbox" value="montage" v-model="window.checked"> Монтаж
              <p class="text-muted">+{{ montageCost | roundDown }} руб</p>
            </label>
          </div>
          <div class="checkbox">
            <label class="checkbox-inline" for="duo">
              <input id="duo" type="checkbox" value="sill" v-model="window.checked"> Подоконник
              <p class="text-muted">+{{ sillCost | roundDown }} руб</p>
            </label>
          </div>
          <div class="checkbox">
            <label class="checkbox-inline" for="tre">
              <input id="tre" type="checkbox" value="slope" v-model="window.checked"> Откосы
              <p class="text-muted">+{{ slopeCost | roundDown }} руб</p>
            </label>
          </div>
        </section>

        <!-- SUBMIT SECTION -->
        <div class="form-group well">
          <button class="btn btn-default" type="button" @click="onCalc()">Calculate</button>
        </div>

        <!--OUTPUT SECTION-->
        <div class="form-group" id="output">
          <h3 class="page-header">Итоговая стоимость выбранного окна и дополнительных опций:</h3>
          <ul class="list-group">
            <li class="list-group-item">Рама: {{ output.profile.total | singleDivider }} м</li>
            <li class="list-group-item">Стеклопакет: {{ output.area | doubleDivider }} кв. м</li>
            <li class="list-group-item">Стоимость изделия: {{ output.cost.window }} руб</li>
            <li class="list-group-item">Стоимость монтажных работ: {{ output.cost.work }} руб</li>
            <li class="list-group-item">Общая стоимость: {{ output.cost.total }} руб</li>
          </ul>
        </div>
        
      </div><!-- row -->
      
    </div><!-- container -->

    <!-- SCRIPTS -->
    <script src="./scripts/vue.js"></script>
    <script src="./scripts/third.js"></script>
  </body>
</html>