#app .picture {
  border: 2px solid rgba( 0,0,0, .2 );
  border-radius: 4px;
  padding: 6px;
}

#app .picture__inner {
  width: 100%;
  height: auto;
}

#app .window__label {
  width: 100%;
}

#app .window__input {
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
}