#app .picture {
  border: 2px solid rgba( 0,0,0, .2 );
  border-radius: 4px;
  padding: 6px;
}

#app .picture__inner {
  width: 100%;
  height: auto;
}

#app .window__label {
  width: 100%;
}

#app .window__input {
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
}

#app .window__profile {
  font-weight: 700;
  cursor: pointer;
}

#app .item__wrapper {
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#app .item__wrapper:hover {
  background-color: #eee;
}

#app .item__title {
  margin-top: 0;
  margin-bottom: 0;
}

#app .item__label {
  margin-bottom: 0;
}

#app .item__content {
  padding: 2rem 1rem;
}